*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-colors: #fef4e8;
  --good-white: #e6e6e6;
  --main-font: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--main-font);
  color: var(--good-white);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-image: url("./images/sunsetDark.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.top {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.middle-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  justify-self: center;
}

.search-container {
  width: 50%;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  border-bottom: 3px solid var(--primary-colors);
}

.search-svg {
  filter: invert(86%) sepia(5%) saturate(530%) hue-rotate(343deg)
    brightness(107%) contrast(108%);
  grid-area: 1 / 2 / 2 /3;
  width: 20px;
  height: 20px;
  justify-self: self-end;
  transition: 0.3s;
}

.search-svg:hover {
  filter: invert(78%) sepia(84%) saturate(65%) hue-rotate(302deg)
    brightness(109%) contrast(99%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

input {
  border: none;
  background-color: transparent;
}

.search {
  color: var(--good-white);
  grid-area: 1 / 1 / 2 / 2;
  width: 150px;
  height: 20px;
  justify-self: self-end;
  font-size: 16px;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  font-size: 16px;
  color: var(--primary-colors);
  justify-self: self-end;
}

.bottom {
  grid-row: 2 / 3;
}

.left-info {
  height: 65%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.right-info {
  display: flex;
  height: 50%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.right-info * {
  border-bottom: 2px solid var(--primary-colors);
}

.left-info * {
  border-bottom: 2px solid var(--primary-colors);
}

.show-time {
  word-spacing: 3px;
  border-bottom: 2px solid var(--primary-colors);
  justify-self: center;
  text-align: center;
}

.place-main {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.h2Degrees {
  letter-spacing: 2px;
  border-bottom: 2px solid var(--primary-colors);
}
