*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-image: url("./images/rosa.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.top {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.search-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

input {
    border: none; 
    background-color: transparent;
}

.search {
    width: 150px;
    height: 20px;
    border-bottom: 2px solid black;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: red;
}

.bottom {
  grid-row: 2 / 3;
}


